.icon-demo {
  background-image: url(../assets/sprite.png);
  background-size: 24px 82px;
  width: 24px;
  height: 24px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.icon-qq {
  background-image: url(../assets/sprite.png);
  background-size: 24px 82px;
  width: 24px;
  height: 24px;
  background-position: 0px -29px;
  background-repeat: no-repeat;
}

.icon-weibo {
  background-image: url(../assets/sprite.png);
  background-size: 24px 82px;
  width: 24px;
  height: 24px;
  background-position: 0px -58px;
  background-repeat: no-repeat;
}
